## Paper 2

In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {'cities':['lahore','karachi'],'province':['punjab','sindh']}

In [11]:
frame1 = pd.DataFrame(data)
frame1

    cities province
0   lahore   punjab
1  karachi    sindh

In [12]:
data2 = {'cities':['lahore','islamabad'],'province':['punjab','punjab']}

In [13]:
frame2 = pd.DataFrame(data2)

In [14]:
frame3 = frame1.append(frame2)
frame3

      cities province
0     lahore   punjab
1    karachi    sindh
0     lahore   punjab
1  islamabad   punjab

In [15]:
frame3.drop_duplicates(inplace=True)
frame3

      cities province
0     lahore   punjab
1    karachi    sindh
1  islamabad   punjab

In [16]:
frame3.sort_values(by='province')

      cities province
0     lahore   punjab
1  islamabad   punjab
1    karachi    sindh

In [18]:
frame3.reset_index(drop=True)

      cities province
0     lahore   punjab
1    karachi    sindh
2  islamabad   punjab

## Q2

In [21]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier

In [25]:
data = pd.read_csv('./breast_cancer/wdbc.data',header=None)

In [26]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [27]:
data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
dtype: int64

In [58]:
y= data[1]
X = data.drop([1,0],axis=1)
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.3)
extract = []
print(X_train.shape)

(398, 30)

In [59]:
# Naive Bayes
nb = MultinomialNB()
nb.fit(X_train,y_train)
predictionnb = nb.predict(X_test)
extract.append(('Naive Bayes',nb))

In [60]:
## Decision Tree Seed 1
X_train1,X_test1,y_train1,y_test1 = train_test_split(X_train,y_train,test_size=0.33,random_state=1)
Tree = DecisionTreeClassifier(random_state=1)
Tree.fit(X_train1,y_train1)
predictionTree = Tree.predict(X_test)
extract.append(('Tree1',Tree))

In [61]:
## Decision Tree Seed 2
X_train1,X_test1,y_train1,y_test1 = train_test_split(X_train,y_train,test_size=0.33,random_state=2)
Tree2 = DecisionTreeClassifier(random_state=24)
Tree2.fit(X_train1,y_train1)
predictionTree2 = Tree.predict(X_test)
extract.append(('Tree2',Tree2))

In [62]:
svm = SVC()
svm.fit(X_train,y_train)
predictionSVM = svm.predict(X_test)
extract.append(('SVM',svm))

In [63]:
ensemble = VotingClassifier(extract)
ensemble.fit(X_train,y_train)
predictionEn = ensemble.predict(X_test)

In [64]:
print("Accuracy Using Naive Bayes",accuracy_score(y_test,predictionnb))
print("Accuracy Using Tree Seed 1",accuracy_score(y_test,predictionTree))
print("Accuracy Using Tree 2",accuracy_score(y_test,predictionTree2))
print("Accuracy Using SVM",accuracy_score(y_test,predictionSVM))
print("Accuracy Using Ensemble Learning",accuracy_score(y_test,predictionEn))

Accuracy Using Naive Bayes 0.9064327485380117
Accuracy Using Tree Seed 1 0.9181286549707602
Accuracy Using Tree 2 0.9181286549707602
Accuracy Using SVM 0.9298245614035088
Accuracy Using Ensemble Learning 0.9239766081871345

## Paper Midterm 2 DS

In [65]:
data = {"Data Science":["UnderGraduate",np.nan,np.nan],"Machine Learning":[np.nan,"Masters",np.nan],"Deep Learning":[np.nan,np.nan,"Masters"],"Average":[70.1,70.5,70.3]}

In [66]:
frame = pd.DataFrame(data)
frame

    Data Science Machine Learning Deep Learning  Average
0  UnderGraduate              NaN           NaN     70.1
1            NaN          Masters           NaN     70.5
2            NaN              NaN       Masters     70.3

In [80]:
frame2 = pd.melt(frame,id_vars=['Average'],value_vars=['Data Science','Machine Learning','Deep Learning'],var_name='Course',value_name='Level')
frame2.dropna()

   Average            Course          Level
0     70.1      Data Science  UnderGraduate
4     70.5  Machine Learning        Masters
8     70.3     Deep Learning        Masters

In [70]:
help(pd.melt)

Help on function melt in module pandas.core.reshape.melt:

melt(frame: 'DataFrame', id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index: bool = True) -> 'DataFrame'
    Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

    This function is useful to massage a DataFrame into a format where one
    or more columns are identifier variables (`id_vars`), while all other
    columns, considered measured variables (`value_vars`), are "unpivoted" to
    the row axis, leaving just two non-identifier columns, 'variable' and
    'value'.

    Parameters
    ----------
    id_vars : tuple, list, or ndarray, optional
        Column(s) to use as identifier variables.
    value_vars : tuple, list, or ndarray, optional
        Column(s) to unpivot. If not specified, uses all columns that
        are not set as `id_vars`.
    var_name : scalar
        Name to use for the 'variable' column. If None it uses
        ``frame.columns.name`` or 'variable'.
    value_name : scalar, default 'value'
        Name to use for the 'value' column.
    col_level : int or str, optional
        If columns are a MultiIndex then use this level to melt.
    ignore_index : bool, default True
        If True, original index is ignored. If False, the original index is retained.
        Index labels will be repeated as necessary.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame
        Unpivoted DataFrame.

    See Also
    --------
    DataFrame.melt : Identical method.
    pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
    DataFrame.pivot : Return reshaped DataFrame organized
        by given index / column values.
    DataFrame.explode : Explode a DataFrame from list-like
            columns to long format.

    Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6

    The names of 'variable' and 'value' columns can be customized:

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

    Original index values can be kept around:

    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    0  a        C      2
    1  b        C      4
    2  c        C      6

    If you have multi-index columns:

    >>> df.columns = [list('ABC'), list('DEF')]
    >>> df
       A  B  C
       D  E  F
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, col_level=0, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])
      (A, D) variable_0 variable_1  value
    0      a          B          E      1
    1      b          B          E      3
    2      c          B          E      5

## Q3

In [83]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import KFold
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA

In [134]:
digits = datasets.load_digits()
print(digits.data.shape)
digits.data

(1797, 64)

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [135]:
svc = svm.SVC()
KF = KFold(n_splits=5)

In [136]:
i=1
for train_index,test_index in KF.split(digits.data):
    svc.fit(digits.data[train_index],digits.target[train_index])
    score = accuracy_score(digits.target[test_index],svc.predict(digits.data[test_index]))
    print("Fold{}: Accuracy Using SVM: ".format(i),score)
    i+=1

Fold1: Accuracy Using SVM:  0.9694444444444444
Fold2: Accuracy Using SVM:  0.9472222222222222
Fold3: Accuracy Using SVM:  0.9832869080779945
Fold4: Accuracy Using SVM:  0.9888579387186629
Fold5: Accuracy Using SVM:  0.9415041782729805

In [137]:
pca_digits = PCA(n_components=2).fit_transform(digits.data)
pca_digits.shape

(1797, 2)

In [138]:
i=1
for train_index,test_index in KF.split(pca_digits):
    svc.fit(pca_digits[train_index],digits.target[train_index])
    score = accuracy_score(digits.target[test_index],svc.predict(pca_digits[test_index]))
    print("Fold{}: Accuracy Using SVM: ".format(i),score)
    i+=1

Fold1: Accuracy Using SVM:  0.6
Fold2: Accuracy Using SVM:  0.6305555555555555
Fold3: Accuracy Using SVM:  0.6713091922005571
Fold4: Accuracy Using SVM:  0.6406685236768802
Fold5: Accuracy Using SVM:  0.637883008356546

In [142]:
digits.data = np.append(digits.data,pca_digits,axis=1)
digits.data.shape

(1797, 66)

In [143]:
i=1
for train_index,test_index in KF.split(digits.data):
    svc.fit(digits.data[train_index],digits.target[train_index])
    score = accuracy_score(digits.target[test_index],svc.predict(digits.data[test_index]))
    print("Fold{}: Accuracy Using SVM: ".format(i),score)
    i+=1

Fold1: Accuracy Using SVM:  0.9611111111111111
Fold2: Accuracy Using SVM:  0.9416666666666667
Fold3: Accuracy Using SVM:  0.9888579387186629
Fold4: Accuracy Using SVM:  0.9888579387186629
Fold5: Accuracy Using SVM:  0.935933147632312

## Q2

In [151]:
from sklearn.neighbors import DistanceMetric
distM = DistanceMetric.get_metric('manhattan')

In [152]:
train_data = pd.DataFrame([[2,3,0],[1,5,1],[4,2,1],[2,5,0],[6,8,0]],columns=['Att1','Att2','Class'])
test_data = pd.DataFrame([[3,1],[2,2]],columns=['Att1','Att2'])

In [153]:
test_data

   Att1  Att2
0     3     1
1     2     2

In [227]:
def manhatten(x1,x2):
    return np.sum(abs(np.subtract(x1,x2)))

def predict_class(train,test,labels,k):
    train = np.array(train)
    test = np.array(test)
    predictions = []
    for i in range(test.shape[0]):
        #weight = distM.pairwise(np.array(test.iloc[i]).reshape(-1,1),np.array(train.iloc[k]).reshape(-1,1))
        weight = manhatten(test[i],train[k]) 
        dist = []
        for j in range(train.shape[0]):
            if(k==j):
                continue
            dist.append(1/((manhatten(test[i],train[j])/weight)))
        pred_label = dict()
        for l in range(len(labels)):
            if(k==l):
                continue
            try:
                pred_label[labels[l]] += dist[l]
            except:
                pred_label[labels[l]] = 0
                pred_label[labels[l]] += dist[l]
        
        predictions.append(max(pred_label,key=pred_label.get))
    return predictions

In [228]:
y = train_data['Class']
X = train_data.drop('Class',axis=1)
predictions = predict_class(X,test_data,y,4)
print(predictions)

[1, 0]

## Paper Midterm2 DS version 2

In [245]:
frame = pd.DataFrame([[np.nan,'C',np.nan,-90],['Ali','E',np.nan,60]
                    ,['Ahmed','E',np.nan,-10],['Nida','C',np.nan,70],
                    [np.nan,'C',np.nan,75]],columns=['Name','Field','Age','Marks'])

In [246]:
frame

    Name Field  Age  Marks
0    NaN     C  NaN    -90
1    Ali     E  NaN     60
2  Ahmed     E  NaN    -10
3   Nida     C  NaN     70
4    NaN     C  NaN     75

In [247]:
frame.drop('Age',axis=1,inplace=True)

In [261]:
frame

    Name  Field      Marks
0    ---      0  68.333333
1    Ali      1  60.000000
2  Ahmed      1  68.333333
3   Nida      0  70.000000
4    ---      0  75.000000

In [249]:
frame['Name'] =frame['Name'].fillna('---')

In [250]:
frame['Field'] = frame['Field'].replace({"C":0,"E":1})

In [251]:
frame

    Name  Field  Marks
0    ---      0    -90
1    Ali      1     60
2  Ahmed      1    -10
3   Nida      0     70
4    ---      0     75

In [259]:
frame['Marks'] = frame['Marks'].apply(lambda x: np.nan if x<0 else x)
frame['Marks'] = frame['Marks'].fillna(frame['Marks'].mean())

In [260]:
frame

    Name  Field      Marks
0    ---      0  68.333333
1    Ali      1  60.000000
2  Ahmed      1  68.333333
3   Nida      0  70.000000
4    ---      0  75.000000

# Q2

In [302]:
import numpy as np
from sklearn import datasets
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [303]:
digits = datasets.load_digits()
X = digits.data
y = digits.target

In [304]:
print("Number Of Instances :",X.shape[0])
print("Number of Features : ",X.shape[1])

Number Of Instances : 1797
Number of Features :  64

In [305]:
kf =KFold(4)
algos = {
    1:DecisionTreeClassifier(),
    2:SVC(),
    3:MultinomialNB(),
    4:KNeighborsClassifier()
}
algo_name = {
    1:"DecisionTreeClassifier",
    2:"SVC",
    3:"MultinomialNB",
    4:"KNeighborsClassifier"
}

In [308]:
i=1
for train_index,test_index in kf.split(X):
    if i==4:
        kmean = KMeans(2)
        cluster_result = kmean.fit(X)
        print(np.array(cluster_result.labels_))
        X = np.append(X,np.array(cluster_result.labels_).reshape(1797,1),axis=1)
        print("Training Data After Adding Cluster Output :",X[train_index].shape)
        print("Test Data After Adding Cluster Output :",X[test_index].shape)
        
    model = algos[i]
    model.fit(X[train_index],y[train_index])
    pred = model.predict(X[test_index])
    print("Fold{} Accuracy Using {} : {}".format(i,algo_name[i],accuracy_score(y[test_index],pred)))
    i+=1

Fold1 Accuracy Using DecisionTreeClassifier : 0.8088888888888889
Fold2 Accuracy Using SVC : 0.9665924276169265
Fold3 Accuracy Using MultinomialNB : 0.9131403118040089
[0 1 1 ... 1 1 1]
Training Data After Adding Cluster Output : (1348, 65)
Test Data After Adding Cluster Output : (449, 65)
Fold4 Accuracy Using KNeighborsClassifier : 0.9643652561247216

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import VotingClassifier
import pandas as pd
import numpy as np

In [ ]:
train_data = pd.read_csv('german_train.csv',header=None)
test_data = pd.read_csv('german_test.csv',header=None)
train_data

In [ ]:
train = train_data.iloc[: , :23]
train_l = train_data.iloc[: , -1:]
test = test_data.iloc[: , :23]
test_l = test_data.iloc[: , -1:]

In [ ]:
nb = MultinomialNB()
nb.fit(train,np.ravel(train_l))

In [ ]:
X_train1,X_test1,y_train1,y_test1 = train_test_split(train,train_l,test_size=0.33,random_state=1)
Tree1 = DecisionTreeClassifier(random_state=1)
Tree1.fit(X_train1,y_train1)

In [ ]:
Tree2 = DecisionTreeClassifier(random_state=2)
Tree2.fit(X_train1,y_train1)

In [ ]:
svm = SVC()
svm.fit(train,np.ravel(train_l))

In [ ]:
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import LabelEncoder


vot_soft = VotingClassifier(estimators = [('1' ,MultinomialNB()), ('2', DecisionTreeClassifier()), ('3', SVC(gamma='auto', probability=True))], voting='soft')
vot_soft.fit(train, np.ravel(train_l))
Y_prediction = vot_soft.predict(test)

In [ ]:
predictionnb = nb.predict(test)
print("Accuracy Using Naive Bayes",(accuracy_score(test_l,predictionnb))*100)

prediction = Tree1.predict(test)
print("Accuracy Using Tree1",(accuracy_score(test_l,prediction))*100)

prediction = Tree2.predict(test)
print("Accuracy Using Tree2",(accuracy_score(test_l,prediction))*100)

prediction = svm.predict(test)
print("Accuracy Using SVM",(accuracy_score(test_l,prediction))*100)

print("Accuracy Using VotingClassifier",(accuracy_score(test_l,Y_prediction))*100)

In [ ]:
# You may use these libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels.formula.api as smf
from sklearn.model_selection import cross_val_score, StratifiedShuffleSplit
from sklearn.model_selection import train_test_split,KFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import make_scorer
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
# KNN
dataset = pd.read_csv(r'C:/Users/sohail/Desktop/Data_Science/Iris.csv')
dataset

X = dataset[['Sepal_length','Petal_length','Petal_width']]
X = X.values

Y = dataset['Species']
Y = Y.values

#result = []
max_accuracy = 0
for i in range(1,11):
    knn = KNeighborsClassifier(n_neighbors=i, p=1)
    #CV = KFold(n_splits=10,random_state=1,shuffle=True)
    accuracy = cross_val_score(knn, X, Y, cv=10)
    accuracy = np.mean(accuracy)
    #result.append(accuracy)
    if max_accuracy < accuracy:
        max_accuracy = accuracy
        K_of_max_accuracy = i

print("We are having max accuracy of "+ str(max_accuracy) +" when number of nearest neighbors = "+str(K_of_max_accuracy))
#print(result)
#We are having max accuracy of 0.9666666666666668 when number of nearest neighbors = 5
#DecisionTree


def classification_report_with_accuracy_score(y_true, y_pred):
    print(classification_report(y_true, y_pred)) # print classification report
    return accuracy_score(y_true, y_pred) # return accuracy score



Entropy = DecisionTreeClassifier( criterion='gini', ccp_alpha = 0.011 )
Accuracy = cross_val_score(Entropy, X, Y, scoring=make_scorer(classification_report_with_accuracy_score), cv=5)
print("Accuracy = ", np.mean(Accuracy))